# Clé API Steam – obtenir sur : https://steamcommunity.com/dev/apikey
STEAM_API_KEY=TA_CLE_ICI

# Ton SteamID64 – trouver sur : https://www.steamidfinder.com
STEAM_ID=TON_STEAM_ID_64

# Domaine pour Traefik (ex: gaming.mondomaine.com)
APP_DOMAIN=gaming.mondomaine.com
