# Clé API Steam globale – obtenir sur : https://steamcommunity.com/dev/apikey
STEAM_API_KEY=TA_CLE_ICI

# Mot de passe du compte admin par défaut
ADMIN_PASSWORD=change_moi

# Clé secrète JWT (générer avec : openssl rand -hex 48)
JWT_SECRET=une_longue_chaine_aleatoire

# Domaine pour Traefik
APP_DOMAIN=gaming.mondomaine.com
